# Ignore everything by default
*

# Allow directories so git can recurse into them
!*/

# Allow TeX and PDF files anywhere in the tree
!**/*.tex
!**/*.pdf
!**/*.m
!**/*.md
!**/*.yaml
!**/.gitkeep

# Keep this file tracked
!.gitignore
.agent/**
.claude/**
.vscode/**
.tmp/**
*.fls
*.aux
*.log
*.gz
*.out

*.toc
*.fbd_latexmk