# Ignore everything by default
*

# Allow directories so git can recurse into them
!*/

# Allow TeX and PDF files anywhere in the tree
!**/*.tex
!**/*.pdf
!**/*.m

# Keep these files tracked
!.gitignore
!README.md
*.fls
*.aux
*.log
*.gz
*.out

*.toc
*.fbd_latexmk